@model IEnumerable<Shoping.Models.ShopingModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zakupów</h1>

<p>
    <a asp-action="Create">Dodaj Produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
            
            <td>
<<<<<<< HEAD
                @Html.ActionLink("Kupione", "Bought", new { id = item.ProductId }) |

                @Html.ActionLink("Edytuj", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Uwagi", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ProductId })
=======
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
>>>>>>> 8dbd5308708360f24b0600f82a4b4ff28512741b
            </td>
        </tr>
}
    </tbody>
</table>
